.title-cat-container {
  width: fit-content;
  margin: 330px auto 53px auto;
  position: relative;
}

.main-title {
  font-size: 126px;
  letter-spacing: 14px;
  font-weight: 800;
  width: fit-content;
  line-height: 1;
  margin: 0;
  animation: fade-in 1.5s ease-in-out;
}

.cat-section {
  position: absolute;
  left: 230px;
  top: -205px;
  z-index: 10;
  animation: fade-in-1 2s ease-in-out;
}

.cat-img {
  height: 366px;
}

.o-letter {
  position: absolute;
  z-index: 20;
  top: 175px;
  left: 112px;
  font-size: 126px;
  font-weight: 800;
}

.cat-shoe-img {
  position: absolute;
  left: 109px;
  top: 253px;
  height: 100px;
  z-index: 30;
}

.title-cat-mobile {
  display: none;
}

.main-desc {
  text-align: center;
  position: relative;
  width: fit-content;
  margin: 0 auto 274px auto;
  animation: fade-in 1.5s ease-in-out;
  max-width: 460px;
}
.main-desc a {
  text-decoration: underline;
}

.conffetti-img {
  animation: fade-in-2 2.5s ease-in-out;
  position: absolute;
  top: -70px;
  left: -380px;
}

.select-work-container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  animation: fade-in 1.5s ease-in-out;
  margin-bottom: 90px;
}
.select-work-container .arrow-img {
  display: none;
  position: absolute;
  top: -120px;
  left: calc(50% - 4px);
}
.select-work-container h2 {
  text-transform: uppercase;
  letter-spacing: 7px;
  margin-bottom: 40px;
  font-size: 18px;
}
.select-work-container .btn-container {
  width: 750px;
}
.select-work-container .btn {
  margin-bottom: 44px;
  width: 100%;
}

.confetti-sm1-img {
  position: absolute;
  top: 0;
  right: -80px;
  animation: fade-in-2 2.5s ease-in-out;
}

.confetti-sm2-img {
  position: absolute;
  bottom: 0;
  left: -50px;
  animation: fade-in-2 2.5s ease-in-out;
}

@keyframes fade-in {
  0%,
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in-1 {
  0%,
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in-2 {
  0%,
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
