@media (max-width: 1215px) {
  .hide-on-tablet {
    display: none !important;
  }

  .container {
    width: 800px;
    padding: 0 calc(max(24px, calc(50vw - 400px)));
    max-width: calc(100% - 48px);
  }

  .select-work-container .confetti-sm1-img {
    right: -288px;
  }
  .select-work-container .confetti-sm2-img {
    left: -258px;
  }

  .c2c-img img {
    min-width: 1200px;
  }

  .right-img-to-between {
    grid-template-columns: 1fr;
    grid-template-rows: unset;
    gap: 24px;
  }
  .right-img-to-between > *:nth-child(2) {
    grid-row: unset;
    grid-column: unset;
  }

  .row-to-column {
    flex-direction: column;
  }
  .row-to-column .to-flip {
    transform: rotate(90deg);
  }
  .row-to-column img {
    max-width: 100%;
  }

  .crossing-imgs {
    display: grid;
    grid-template-columns: unset;
    grid-template-rows: unset;
    gap: 24px;
  }
  .crossing-imgs.crossing-imgs img {
    grid-column: unset;
    grid-row: unset;
    max-width: 100%;
  }

  .about-text-and-btns {
    width: calc(100% - 56px);
    margin: 0 28px;
  }

  .font-selection-section {
    grid-template-columns: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
  .font-selection-section .font-selection {
    margin-top: 0;
  }

  .text-mock-row {
    grid-template-columns: auto;
  }
  .text-mock-row .left-title-and-p h3,
  .text-mock-row .left-title-and-p p {
    text-align: center;
  }

  .mock-box-notes-container {
    position: relative;
    padding: 30px;
  }
  .mock-box-notes-container h2 {
    font-size: 24px;
    margin-bottom: 12px;
  }
  .mock-box-notes-container h4 {
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 32px;
  }
  .mock-box-notes-container .mock-btn {
    padding: 12px;
  }
  .mock-box-notes-container img {
    height: 380px;
    top: -34px;
    right: -14px;
  }

  .iconography-container {
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }

  .iconography-item:nth-child(5) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
  .iconography-item > div {
    height: 108px;
  }
  .iconography-item img {
    max-height: 100px;
    max-width: 140px;
  }
  .iconography-item h3 {
    font-size: 18px;
  }

  .birds-container img {
    height: 150px;
  }

  .offset-imgs-container {
    align-items: center;
    gap: 32px;
  }
  .offset-imgs-container > *:last-child {
    align-self: center;
  }
  .offset-imgs-container img {
    width: 100%;
  }
}
@media (max-width: 765px) {
  body {
    margin-top: 67px;
  }

  .hide-on-mobile {
    display: none !important;
  }

  .show-on-mobile {
    display: block !important;
  }

  .container {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    padding: 0 16px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 18px;
  }

  .text-container-1,
  .text-container-2,
  .text-container-3,
  .text-container-4 {
    width: 100%;
  }

  .btn::after {
    display: none;
  }
  .btn.btn-small {
    padding: 4px 8px;
  }
  .btn.btn-long {
    padding: 8px 12px;
  }
  .btn.btn-big {
    justify-content: center;
    border: solid 1px var(--primary-color);
    font-size: 20px;
    padding: 16px;
  }

  .content-divider {
    margin: 40px auto;
  }

  .mobile-carousel {
    display: grid;
  }

  .main-img {
    max-height: 275px;
  }

  .c2c-img img {
    min-width: 700px;
  }

  .summery-text-container {
    grid-template-columns: 1fr;
    column-gap: 88px;
    row-gap: 24px;
    margin-top: 24px;
  }
  .summery-text-container .titles {
    grid-column: 1 / 2;
  }
  .summery-text-container .text-block h3 {
    margin-bottom: 8px;
  }

  .color-palette .colors div {
    margin: 0 -32px;
  }
  .color-palette .colors div::after {
    display: none;
  }

  header {
    padding: 16px;
  }

  nav {
    flex-flow: column;
    align-items: flex-start;
    position: fixed;
    padding: 32px 40px;
    z-index: 500;
    top: 0;
    bottom: 0;
    left: -100%;
    background-color: #ffffff;
    border-right: solid 2px var(--primary-color);
    transition: 0.3s;
  }
  nav .text-btn {
    margin-right: 0;
    margin-bottom: 24px;
    font-size: 20px;
  }
  nav .work-nav-links {
    display: flex;
    padding: 0;
    box-shadow: none;
    border: none;
    position: relative;
    top: 0;
    left: 0;
  }
  nav .work-nav-links .text-btn {
    margin-right: 0;
  }
  nav .work-nav-links .text-btn:last-child {
    margin-bottom: 56px;
  }
  nav.show {
    left: 0;
  }

  .mobile-menu-icon {
    display: block;
    margin-right: 12px;
    cursor: pointer;
  }

  .mobile-menu-exit {
    display: block;
    cursor: pointer;
    margin-bottom: 32px;
    align-self: flex-end;
  }

  .contact-and-cv {
    display: flex;
  }
  .contact-and-cv .btn:first-child {
    margin-right: 24px;
  }
  .extracurricular-container {
    grid-template-columns: 1fr;
  }

  .work-divider {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    text-transform: uppercase;
    opacity: 0.5;
    margin: 8px 0 24px 0;
    white-space: nowrap;
    font-weight: var(--weight-bold);
  }
  .work-divider::before,
  .work-divider::after {
    display: block;
    content: "";
    height: 1px;
    width: 100%;
    background: var(--primary-color);
  }
  .work-divider::before {
    margin-right: 8px;
  }
  .work-divider::after {
    margin-left: 8px;
  }

  footer {
    justify-content: center;
  }
  footer .contact-btn {
    display: none;
  }
  footer h4 {
    font-size: 12px;
  }

  .title-cat-container {
    margin: 250px auto 24px auto;
  }
  .title-cat-container .main-title {
    font-size: 72px;
    letter-spacing: 5px;
  }
  .title-cat-container .title-cat-mobile {
    display: block;
    position: absolute;
    z-index: 10;
    top: -150px;
    left: 32px;
    animation: fade-in-1 1s ease-in-out 800ms;
  }

  .main-desc,
  .main-desc a {
    font-size: 14px;
    line-height: 26px;
    margin: 0 auto 35px auto;
    max-width: 260px;
  }

  .select-work-container h2 {
    font-size: 12px;
    margin-bottom: 20px;
  }
  .select-work-container .confetti-sm1-img,
  .select-work-container .confetti-sm2-img {
    display: none;
  }
  .select-work-container .btn-container {
    width: 100%;
  }
  .select-work-container .btn {
    margin-bottom: 20px;
  }

  .about-img {
    width: calc(100% + 230px);
    left: -40px;
  }

  .about-text-and-btns {
    padding: 32px 52px;
    width: calc(100% - 56px);
    margin: 0 28px;
  }
  .about-text-and-btns p {
    font-size: 14px;
  }
  .about-text-and-btns p:last-of-type {
    margin-bottom: 40px;
  }
  .about-text-and-btns .btn-container {
    justify-content: flex-start;
  }
  .about-text-and-btns .btn-container img {
    margin: 0;
  }

  .another-app-btn-section .btn-container {
    flex-flow: column;
  }
  .another-app-btn-section .btn-container .btn {
    width: 100%;
    justify-content: center;
  }

  .host-container {
    margin-top: 40px;
  }
  .host-container img {
    margin-right: 12px;
    height: 104px;
  }
  .host-container h2 {
    font-size: 16px;
  }
  .host-container h1 {
    font-size: 28px;
  }

  .tour-mocks {
    justify-content: flex-start;
    align-items: center;
    background: #f5f5f5;
    gap: 16px;
    padding: 16px;
  }
  .tour-mocks img:last-child {
    padding-right: 16px;
  }

  .three-img-container {
    flex-flow: column nowrap;
    margin-top: 8px;
  }
  .three-img-container img,
  .three-img-container > img {
    width: 100%;
    max-width: 100%;
  }
  .three-img-container div {
    max-width: 100%;
    flex-flow: column-reverse;
  }

  .illustrations-section {
    justify-content: space-between;
    gap: 16px;
  }
  .illustrations-section img {
    height: 130px;
  }
  .illustrations-section img:nth-child(3n) {
    margin: 0 calc(50% - 65px);
  }

  .two-img-baby-container {
    grid-template-columns: auto;
  }

  .main-img img {
    max-height: 275px;
  }

  .birds-container img {
    height: auto;
  }

  .mobile-alert {
    display: flex;
  }
}

@media (max-height: 1010px) and (min-width: 1220px) {
  .select-work-container .arrow-img {
    display: block;
  }
}
